<!-- Site Bottom Starts -->
<div class="site-bottom">
    <!-- Footer Starts -->
    <footer class="site-footer">
        <div class="container">
            <!-- Footer Inner Starts -->
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-8 mb-30 mb-lg-0">
                        <!-- Single Footer -->
                        <div class="single-footer">
                            <h3 class="footer-title">Contact Us</h3>
                            <div class="single-footer__details">
                                <div class="contact-widget widget-phone">
                                    <div class="widget-logo">
                                        <img src="image/icons/icon-phone--chocolate.png" alt=""/>
                                    </div>
                                    <span class="widget-text">+ (012) 800 456 789</span>
                                </div>
                                <div class="contact-block">
                                    <p>Address:123 Main Street, Anytown, CA 12345 - USA.</p>
                                    <p>Email:demo@towerthemes.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Inner Starts -->
            <!-- Footer Feautures -->
            <div class="features footer-features">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 mb-30 mb-lg-0">
                        <div class="mini-feature">
                            <div class="feature-icon icon-round">
                                <i class="fas fa-globe-americas"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Free Shipping</h3>
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30 mb-lg-0">
                        <div class="mini-feature">
                            <div class="feature-icon icon-round">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Money Return</h3>
                                <p>Back guarantee under 7 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30 mb-lg-0">
                        <div class="mini-feature">
                            <div class="feature-icon icon-round">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Member Discount</h3>
                                <p>Onevery order over $120.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-30 mb-lg-0">
                        <div class="mini-feature">
                            <div class="feature-icon">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="feature-text">
                                <h3>Online Support</h3>
                                <p>Support online 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-lg-6 col-md-6">
                        <p>
                            &copy; Symfony E-Commerce Project
                            <i class="fa fa-heart"></i> by Fahri Vardar
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->
</div>
<!-- Site Footer Ends -->
