<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            {% if app.user == null %}
                                <a href="/login">Sign in</a>
                                <a href="/register">Register</a>
                            {% else %}
                                <a href="/logout">Sign out</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/"><img src="{{ asset('fashion/img/logo.png') }}" alt=""/></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">

            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    
                    <a href="{{ url('show_cart') }}" style="color:black;">
                        <img src="{{ asset('fashion/img/icon/cart.png') }}" alt=""/>
                        <div class="price">Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
