.subscription-form{
    display: flex;
    position: relative;
    label{
        color: $text-color;
    }
    .form-control{
        height: 55px;
        width: 100%;
        padding: 0 160px 0 20px;
        background: #1e252e;
        font-size: 13px;
        color: #fff;;
        font-weight: 300;
        font-style: italic;
        display: block;
        height: 55px;
        width: 100%;
        float: left;
        margin: 0;
        border: 0;
        border-radius: 3px;
        &:focus{
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    .theme-btn{
        padding: 0 40px;
        height: 55px;
        line-height: 60px;
        margin-top: 15px;
        @include mobile{
            margin-top: 0px;
            position: absolute;
            right: 0;
            top: 0;
        }
        font-size: 12px;
        &:hover{
            background: #333 !important;
            color: #fff!important;
        }
    }
}

.sidebar-search {
    display: flex;
    position: relative;
    button {
        position: absolute;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        line-height: initial;
        justify-content: center;
        right: 0;
        padding: 0;
    }
        .form-control {
            background: transparent;
            border-color: #495057;
            font-size: 13px;
            color: #fff;
            padding-right: 40px;
            width: 100%;
            &:focus{
                // border-color: ;
                box-shadow: none;
                outline: none;
                ~ button{
                    background: transparent;
                    color: $primary-color;
                }
            }
        }
}
